<!DOCTYPE html>
<html>
<head>
	<title>Looking for breast cancer</title>
	<!-- <link rel="stylesheet" type="text/css" href="../static/css/styles.css"> -->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>

	<header>
		<div class="container">
		<div id="brandname">
			ML App
		</div>
		<h2>Looking for breast cancer</h2>
		
	</div>
	</header>


<p>   
Project 1: <a href="/project1">MIAS Mammography</a></p>
<p>   
Project 2: <a href="/project2">Breast Cancer Wisconsin (Diagnostic)</a></p>

</body>
</html>

